// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.pelicula{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
    border: 1px solid #ccc;
}
.cabecera{
    display: flex;
    justify-content: space-around;
}
img{
    width: 20%;
}
.controles{
    display: flex;
    justify-content: space-around;
}